#intellij files
*.iml
*.ipr
*.iws
/.idea
/windows-gui/*.iml
/windows-gui/*.ipr
/windows-gui/*.iws
/windows-gui/.idea
#eclipse files
/windows-gui/user-logging-system-windows/.settings
/windows-gui/user-logging-system-windows/build
/windows-gui/.recommenders
/windows-gui/.settings
/.settings
.DS_Store
.classpath
.project
/.metadata
#gradle
/gradle
/.gradle
/windows-gui/.gradle
#Visual Studio
/admin_application/USWRIC_Admin_Application/.vs
/admin_application/USWRIC_Admin_Application/USWRIC_Admin_Application/obj
/admin_application/USWRIC_Admin_Application/USWRIC_Admin_Application/bin
/.vs
#misc
/out
/bin
/build
/windows-gui/out
/windows-gui/bin
