#intellij files
*.iml
*.ipr
*.iws
/.idea
/windows-gui/*.iml
/windows-gui/*.ipr
/windows-gui/*.iws
/windows-gui/.idea
#eclipse files
/windows-gui/.recommenders
/.settings
.DS_Store
.classpath
.project
#gradle
/.gradle
#misc
/out
/bin/
/build
/windows-gui/out
