#intellij files
*.iml
*.ipr
*.iws
/.idea
/windows/*.iml
/windows/*.ipr
/windows/*.iws
/windows/.idea
#eclipse files
/.settings
.DS_Store
.classpath
.project
#gradle
/.gradle
#misc
/out
/bin/
/build
/windows/out
